<form #frm="ngForm" [formGroup]="form1" (submit)="form1.valid && changePassword()" autocomplete="on">
  <fieldset class="changePassword">
    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <label for="newPwd">New Password</label>
            </td>
            <td>
              <input type="password" class="passwordEntry" formControlName="newPwd" name="new-password" autocomplete="new-password">
              <ng-container *ngIf="frm.submitted && newPwd.invalid">
                <span *ngIf="newPwd.errors?.required" class="field-validation-error">The new password is required.</span>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <label for="confirmPwd">Confirm Password</label>
            </td>
            <td>
              <input type="password" class="passwordEntry" formControlName="confirmPwd">
              <ng-container *ngIf="frm.submitted">
                <span *ngIf="confirmPwd.errors?.required" class="field-validation-error">The confirm password field is
                  required.</span>
                <span *ngIf="form1.errors?.pwdsDontMatch && !confirmPwd.errors?.required" class="field-validation-error">The password and confirmation
                  password do not match.</span>
              </ng-container>
              <p>Password must contain at least one uppercase letter, one lowercase letter, one number, one special
                character, and be at least 8 characters long.</p>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" name="changePasswd" value="Change your Password" id="changePasswd"
                class="btn btn-border btn-ar btn-sm btn-primary">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</form>
