<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="AWSAccessKeyID" value="" />
  <add key="AWSSecretAccessKey" value="" />
  <add key="BnetOAuthKey" value=""/>
  <add key="BnetOAuthKey:debug" value=""/>
  <add key="BnetOAuthKey:localdebug" value=""/>
  <add key="BnetOAuthSecret" value=""/>
  <add key="BnetOAuthSecret:debug" value=""/>
  <add key="BnetOAuthSecret:localdebug" value=""/>
  <add key="GoogleAnalyticsPropertyID" value=""/>
  <add key="BattleNetOAuthRedirectURI" value="https://www.hotslogs.com/Account/OAuth.aspx"/>
  <add key="BattleNetOAuthRedirectURI:debug" value="https://www.hotslogs.com/Account/OAuth.aspx"/>
  <add key="BattleNetOAuthRedirectURI:localdebug" value="https://localhost:44373/Account/OAuth.aspx"/>
  <add key="PPUSER" value=""/>
  <add key="PPUSER:sandbox" value="ASXZyQ8nIpG7ADcBsAJw_EoeUr34ZEv_d94aeTT-XV3AleQk7MtFrg9D8ydfD5Iv1GFT-JDSXoGwanj8"/>
  <add key="PPSECRET" value=""/>
  <add key="PPSECRET:sandbox" value="EKz9sMuPgiA-yDvOSxyzHXkfE_nomcjUirRKuT_9Rx-23PN2w0ZCUMxvtMJA1bT-CO21c_kCtkBA6zrf"/>
  <add key="APILINK" value="https://api.paypal.com/v1/billing/subscriptions/"/>
  <add key="APILINK:sandbox" value="https://api.sandbox.paypal.com/v1/billing/subscriptions/"/>
  <add key="APIOAUTH" value="https://api.paypal.com/v1/oauth2/token"/>
  <add key="APIOAUTH:sandbox" value="https://api.sandbox.paypal.com/v1/oauth2/token"/>
  <add key="YEARLYPLAN" value=""/>
  <add key="YEARLYPLAN:sandbox" value="P-307243751S379974EL3YWVFI"/>
  <add key="MONTHLYPLAN" value=""/>
  <add key="MONTHLYPLAN:sandbox" value="P-41F99122W7995683GL3YWUPQ"/>
  <add key="CAPTCHAKEY" value=""/>
  <add key="CAPTCHASECRET" value=""/>
  <add key="CAPTCHAURL" value="https://www.google.com/recaptcha/api/siteverify"/>
  <add key="RecoveryMailUsername" value=""/>
  <add key="RecoveryMailPassword" value=""/>
  <add key="DiscordGithubHook" value="" />
  <add key="DiscordNodeHook" value="" />
  <add key="PremiumEmailAccountPassword" value=""/>
</appSettings>
