<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="server=realdb.yoursite.com;port=3306;user id=root;password=yourpassword;persistsecurityinfo=True;database=HeroesData"
         providerName="MySqlConnector.MySqlClient" />
    <add name="ApplicationServicesLocalDebug"
         connectionString="server=localhost;port=3306;user id=root;password=yourpassword;persistsecurityinfo=True;database=HeroesData"
         providerName="MySqlConnector.MySqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="auto:en-US" uiCulture="auto:en-US" />
    <machineKey
      validationKey="9FE409FBAEEE5E22B7DFCDDE5271738BA9567199166155103BD6B6C437FB32818CF59F8376E762E47BBE7566344C44E951D26584C8370C175FA873769C55C1B0"
      decryptionKey="953E23EE770966116E5918D7E90225AD9D41BE7ABE537A6571C6E024CE9C71D9" validation="SHA1"
      decryption="AES" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="RemoteOnly" defaultRedirect="/error" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/default" />
    </customErrors>
  </system.web>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RedisHost" value="localhost:6379" />
    <add key="ThreadCountMMRProcessRecentDates" value="1" />
    <add key="ThreadCountMMRProcessOlderDates" value="2" />
    <add key="ThreadCountMMRProcessLeaderboard" value="2" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="https-redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"/>
        </rule>
        <rule name="ang-default" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="https://{SERVER_NAME}/ang/index.html" />
        </rule>
        <rule name="new-images" stopProcessing="true">
          <match url="^Images/(.*)" />
          <action type="Rewrite" url="https://{SERVER_NAME}/api/Images/{R:1}" />
        </rule>
        <rule name="new-old-uploader" stopProcessing="true">
          <match url="^HOTSLogsUploader/(.*)" />
          <action type="Rewrite" url="https://{SERVER_NAME}/api/HOTSLogsUploader/{R:1}" />
        </rule>
        <rule name="angassets" stopProcessing="true">
          <match url="^assets/(.*)" />
          <action type="Rewrite" url="https://{SERVER_NAME}/ang/assets/{R:1}" />
        </rule>
        <rule name="profileimage" stopProcessing="true">
          <match url="^profileimage/(.*)" />
          <action type="Rewrite" url="https://{SERVER_NAME}/api/mig/Auth/profileimage/{R:1}" />
        </rule>
        <rule name="downloadreplay" stopProcessing="true">
          <match url="^Replays/DownloadReplay(.*)" />
          <action type="Rewrite" url="https://{SERVER_NAME}/api/mig/Auth/downloadreplay{R:1}" />
        </rule>
        <rule name="ang-new" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="https://{SERVER_NAME}/ang/index.html" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <!--<add input="{REQUEST_URI}" pattern="^/(Social)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(WebResource.axd)" negate="true" />-->
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
