<div class="aspGrid RadGrid RadGrid_Black">
  <table #tbl="migSort" mat-table matSort [migSort]="stats">
    <ng-container matColumnDef="BanPhase">
      <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc"> <span localize>Ban Phase</span> </th>
      <td mat-cell *matCellDef="let d">
        {{d.BanPhase}}
      </td>
    </ng-container>

    <ng-container matColumnDef="heroImg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc"> </th>
      <td mat-cell *matCellDef="let d">
        <app-portrait-sprite [hero]="d.CharacterURL"></app-portrait-sprite>
      </td>
    </ng-container>

    <ng-container matColumnDef="Character">
      <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc"> <span localize>Hero</span> </th>
      <td mat-cell *matCellDef="let d">
        <a routerLink="/Sitewide/TalentDetails" [queryParams]="{Hero:d.CharacterURL}">{{d.Character}}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns">
    </tr>
    <tr mat-row class="rgRow" *matRowDef="let row; columns: columns;">
  </table>
</div>
