<section class="about">
  <p style="font-size: 130%;"><strong>1/6/2017 Update: We have made improvements to advertisement quality.<br />If you
      haven't tried white listing since then, please give us another try!</strong></p>
  <br />
  <p>To remain a free service, HOTS Logs relies on website advertisements.</p>
  <p>Please consider white listing this site to help me maintain up to date content and develop new features.</p>
  <p>If you want to disable all ads, please consider directly supporting via a <a routerLink="/Account/Premium">Premium
      account</a></p>
  <p>For more information, please <a
      href="https://www.reddit.com/r/heroesofthestorm/comments/4wdbri/hots_logs_and_adblock/">view the discussion
      here</a>.</p>
  <br />
  <p>After you have whitelisted, <a routerLink="/default">click here</a> to return to the site.</p>
  <p>If you continue to see this page after you have whitelisted, this means you have another browser extension that is
    blocking a script.</p>
  <p>Please check your different browser addons and whitelist in any blockers.</p>
</section>
