<section class="about">
  <p>Hero Roles are more specific roles for heroes. The normal roles (Tank, Bruiser, Healer, Support, Ranged Assassin,
    Melee Assassin) can be too generic for deciding Team Compositions. With the help of the community, I've assigned
    heroes to more specific Roles. These new Role categories and Hero assignments may change in the future.</p>
  <br />

  <header>
    <h3>Current Roles</h3>
    <table class="alert alert-info">
      <tbody>
        <tr>
          <th style="background-color: #ffd166;">Tank</th>
        </tr>
        <tr>
          <td>Anub'arak</td>
        </tr>
        <tr>
          <td>Arthas</td>
        </tr>
        <tr>
          <td>Blaze</td>
        </tr>
        <tr>
          <td>Cho</td>
        </tr>
        <tr>
          <td>Diablo</td>
        </tr>
        <tr>
          <td>E.T.C.</td>
        </tr>
        <tr>
          <td>Garrosh</td>
        </tr>
        <tr>
          <td>Johanna</td>
        </tr>
        <tr>
          <td>Mal'Ganis</td>
        </tr>
        <tr>
          <td>Mei</td>
        </tr>
        <tr>
          <td>Muradin</td>
        </tr>
        <tr>
          <td>Stitches</td>
        </tr>
        <tr>
          <td>Tyrael</td>
        </tr>
      </tbody>
    </table>
    <table class="alert alert-info">
      <tbody>
        <tr>
          <th style="background-color: #06d6a0;">Bruiser</th>
        </tr>
        <tr>
          <td>Artanis</td>
        </tr>
        <tr>
          <td>Chen</td>
        </tr>
        <tr>
          <td>D.Va</td>
        </tr>
        <tr>
          <td>Deathwing</td>
        </tr>
        <tr>
          <td>Dehaka</td>
        </tr>
        <tr>
          <td>Gazlowe</td>
        </tr>
        <tr>
          <td>Hogger</td>
        </tr>
        <tr>
          <td>Imperius</td>
        </tr>
        <tr>
          <td>Leoric</td>
        </tr>
        <tr>
          <td>Malthael</td>
        </tr>
        <tr>
          <td>Ragnaros</td>
        </tr>
        <tr>
          <td>Rexxar</td>
        </tr>
        <tr>
          <td>Sonya</td>
        </tr>
        <tr>
          <td>Thrall</td>
        </tr>
        <tr>
          <td>Varian</td>
        </tr>
        <tr>
          <td>Xul</td>
        </tr>
        <tr>
          <td>Yrel</td>
        </tr>
      </tbody>
    </table>
    <table class="alert alert-info">
      <tbody>
        <tr>
          <th style="background-color: #118ab2;">Healer</th>
        </tr>
        <tr>
          <td>Alexstrasza</td>
        </tr>
        <tr>
          <td>Ana</td>
        </tr>
        <tr>
          <td>Anduin</td>
        </tr>
        <tr>
          <td>Auriel</td>
        </tr>
        <tr>
          <td>Brightwing</td>
        </tr>
        <tr>
          <td>Deckard</td>
        </tr>
        <tr>
          <td>Kharazim</td>
        </tr>
        <tr>
          <td>Li Li</td>
        </tr>
        <tr>
          <td>Lt. Morales</td>
        </tr>
        <tr>
          <td>Lúcio</td>
        </tr>
        <tr>
          <td>Malfurion</td>
        </tr>
        <tr>
          <td>Rehgar</td>
        </tr>
        <tr>
          <td>Stukov</td>
        </tr>
        <tr>
          <td>Tyrande</td>
        </tr>
        <tr>
          <td>Uther</td>
        </tr>
        <tr>
          <td>Whitemane</td>
        </tr>
      </tbody>
    </table>
    <table class="alert alert-info">
      <tbody>
        <tr>
          <th style="background-color: #073b4c;">Support</th>
        </tr>
        <tr>
          <td>Abathur</td>
        </tr>
        <tr>
          <td>Medivh</td>
        </tr>
        <tr>
          <td>The Lost Vikings</td>
        </tr>
        <tr>
          <td>Zarya</td>
        </tr>
      </tbody>
    </table>
    <table class="alert alert-info">
      <tbody>
        <tr>
          <th style="background-color: #ef476f;">Ranged Assassin</th>
        </tr>
        <tr>
          <td>Azmodan</td>
        </tr>
        <tr>
          <td>Cassia</td>
        </tr>
        <tr>
          <td>Chromie</td>
        </tr>
        <tr>
          <td>Falstad</td>
        </tr>
        <tr>
          <td>Fenix</td>
        </tr>
        <tr>
          <td>Gall</td>
        </tr>
        <tr>
          <td>Genji</td>
        </tr>
        <tr>
          <td>Greymane</td>
        </tr>
        <tr>
          <td>Gul'dan</td>
        </tr>
        <tr>
          <td>Hanzo</td>
        </tr>
        <tr>
          <td>Jaina</td>
        </tr>
        <tr>
          <td>Junkrat</td>
        </tr>
        <tr>
          <td>Kael'thas</td>
        </tr>
        <tr>
          <td>Kel'Thuzad</td>
        </tr>
        <tr>
          <td>Li-Ming</td>
        </tr>
        <tr>
          <td>Lunara</td>
        </tr>
        <tr>
          <td>Mephisto</td>
        </tr>
        <tr>
          <td>Nazeebo</td>
        </tr>
        <tr>
          <td>Nova</td>
        </tr>
        <tr>
          <td>Orphea</td>
        </tr>
        <tr>
          <td>Probius</td>
        </tr>
        <tr>
          <td>Raynor</td>
        </tr>
        <tr>
          <td>Sgt. Hammer</td>
        </tr>
        <tr>
          <td>Sylvanas</td>
        </tr>
        <tr>
          <td>Tassadar</td>
        </tr>
        <tr>
          <td>Tracer</td>
        </tr>
        <tr>
          <td>Tychus</td>
        </tr>
        <tr>
          <td>Valla</td>
        </tr>
        <tr>
          <td>Zagara</td>
        </tr>
        <tr>
          <td>Zul'jin</td>
        </tr>
      </tbody>
    </table>
    <table class="alert alert-info">
      <tbody>
        <tr>
          <th style="background-color: #f78c6b;">Melee Assassin</th>
        </tr>
        <tr>
          <td>Alarak</td>
        </tr>
        <tr>
          <td>Illidan</td>
        </tr>
        <tr>
          <td>Kerrigan</td>
        </tr>
        <tr>
          <td>Maiev</td>
        </tr>
        <tr>
          <td>Murky</td>
        </tr>
        <tr>
          <td>Qhira</td>
        </tr>
        <tr>
          <td>Samuro</td>
        </tr>
        <tr>
          <td>The Butcher</td>
        </tr>
        <tr>
          <td>Valeera</td>
        </tr>
        <tr>
          <td>Zeratul</td>
        </tr>
      </tbody>
    </table>
  </header>
</section>
