.arthas {
  background: url("/assets/Images/ArthasKillsIllidan.jpg");
  height: 700px;
  position: relative;
}

.msg {
  font-size: 72px;
  line-height: initial;
  text-align: center;
}

.small {
  text-align: center;
}

.credit {
  position: absolute;
  left: 0;
  bottom: 0;
}
