<section class="about">
  <header>
    <h3><span localize="MMRInfoMessageLine01"></span></h3>
  </header>
  <p><span localize="MMRInfoMessageLine02"></span></p>
  <p><span localize="MMRInfoMessageLine03"></span></p>
  <p><span localize="MMRInfoMessageLine04"></span></p>
  <p><span localize="MMRInfoMessageLine05"></span></p>
  <p><span localize="MMRInfoMessageLine06"></span></p>
  <br />

  <header>
    <h3><span localize="MMRInfoMessageLine07"></span></h3>
  </header>
  <p><span localize="MMRInfoMessageLine08"></span></p>
  <p><span localize="MMRInfoMessageLine09"></span></p>
  <p><span localize="MMRInfoMessageLine10"></span></p>
  <p><span localize="MMRInfoMessageLine11"></span></p>
  <br />

  <header>
    <h3><span localize="MMRInfoMessageLine12"></span></h3>
  </header>
  <p><span localize="MMRInfoMessageLine13"></span></p>
  <p><span localize="MMRInfoMessageLine14"></span></p>
  <p><span localize="MMRInfoMessageLine15"></span></p>
  <p><span localize="MMRInfoMessageLine16"></span></p>
  <br />

  <header>
    <h3><span localize="MMRInfoMessageLine17"></span></h3>
  </header>
  <p><span localize="MMRInfoMessageLine18"></span></p>
  <p><span localize="MMRInfoMessageLine19"></span></p>
  <p><span localize="MMRInfoMessageLine20"></span></p>
  <p><span localize="MMRInfoMessageLine21"></span></p>
  <br />

  <header>
    <h3><span localize="MMRInfoMessageLine22"></span></h3>
  </header>
  <p><span localize="MMRInfoMessageLine23"></span></p>
  <p><span localize="MMRInfoMessageLine24"></span></p>
  <p><span localize="MMRInfoMessageLine25"></span></p>
  <p><span localize="MMRInfoMessageLine26"></span></p>
  <p><span localize="MMRInfoMessageLine27"></span></p>
  <p><span localize="MMRInfoMessageLine28"></span></p>
  <br />
</section>
