.hide {
  display: none;
}

.RadGrid td {
  padding: 3px;
  border-left: none;
  border-right: none;
}

.RadGrid th {
  padding: 8px;
  border-left: none;
  border-right: none;
}

.center {
  display: block;
  margin: auto;
}

.divImportantNote a {
  color: #1a1537;
  text-decoration: underline;
}

.grn {
  color: #3be33b;
}

.neg {
  color: #ff4500;
}
