<section class="about">
  <p>This chart shows Team Experience gathered by each team throughout the length of a match.</p>
  <ul>
      <li>The <strong>X Axis</strong> lists each Game Time minute</li>
      <li>The <strong>Y Axis</strong> lists total experience, with blue bands for each Talent tier; dark blue for Level 10 and Level 20, and light blue for 4 / 7 / 13 / 16</li>
      <li>You can <strong>Hover</strong> over any section of each bar to see exact values for that piece</li>
      <li>You can <strong>Click to Toggle</strong> any category of Experience in the Legend on the right side of the graph</li>
  </ul>

  <header><h3>Team Level Experience Required</h3></header>
  <p>Thanks to <a href="https://www.reddit.com/user/Ahli">/u/Ahli</a> for finding this data (<a href="https://www.reddit.com/r/heroesofthestorm/comments/2p0c6k/datamined_mercenary_stats/cmsdglg">Original Link</a>)</p>

  <table id="tableTeamLevelExperienceRequired" class="alert alert-info">
      <tr><td>Level</td><td>XP to Next Level</td><td>Total XP</td></tr>
      <tr><td>1</td><td>0</td><td>0</td></tr>
      <tr><td>2</td><td>2010</td><td>2010</td></tr>
      <tr><td>3</td><td>2154</td><td>4164</td></tr>
      <tr><td>4</td><td>2154</td><td>6318</td></tr>
      <tr><td>5</td><td>2154</td><td>8472</td></tr>
      <tr><td>6</td><td>2154</td><td>10626</td></tr>
      <tr><td>7</td><td>3303</td><td>13929</td></tr>
      <tr><td>8</td><td>3303</td><td>17232</td></tr>
      <tr><td>9</td><td>3303</td><td>20535</td></tr>
      <tr><td>10</td><td>3303</td><td>23838</td></tr>
      <tr><td>11</td><td>3303</td><td>27141</td></tr>
      <tr><td>12</td><td>4452</td><td>31593</td></tr>
      <tr><td>13</td><td>4452</td><td>36045</td></tr>
      <tr><td>14</td><td>4452</td><td>40497</td></tr>
      <tr><td>15</td><td>4452</td><td>44949</td></tr>
      <tr><td>16</td><td>4452</td><td>49401</td></tr>
      <tr><td>17</td><td>5600</td><td>55001</td></tr>
      <tr><td>18</td><td>5600</td><td>60601</td></tr>
      <tr><td>19</td><td>5600</td><td>66201</td></tr>
      <tr><td>20</td><td>5600</td><td>71801</td></tr>
      <tr><td>21</td><td>9000</td><td>80801</td></tr>
      <tr><td>22</td><td>10000</td><td>90801</td></tr>
      <tr><td>23</td><td>11500</td><td>102301</td></tr>
      <tr><td>24</td><td>13000</td><td>115301</td></tr>
      <tr><td>25</td><td>15000</td><td>130301</td></tr>
      <tr><td>26</td><td>17000</td><td>147301</td></tr>
      <tr><td>27</td><td>19500</td><td>166801</td></tr>
      <tr><td>28</td><td>22000</td><td>188801</td></tr>
      <tr><td>29</td><td>25000</td><td>213801</td></tr>
      <tr><td>30</td><td>28000</td><td>241801</td></tr>
  </table>
</section>
