<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="redirect to index.html" enabled="true" stopProcessing="true">
                    <match url="index.html" negate="true" />
                    <action type="Redirect" url="/index.html" appendQueryString="false" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
	<system.web>
		<caching>
			<outputCache enableOutputCache="false" />
		</caching>
	</system.web>
</configuration>
