<section class="about">
  <div class="markdown-body">
    <p>
      The goal of the reputation system is to shine a spotlight on good "citizens" of the community, as well as to
      expose trolls and
      toxic players, by using a reputation reward system, which evolves by players up- or downvoting each other.
    </p>
    <p>
      Each player will have a reputation score that starts at 0 and can go positive or negative. A very negative score
      means
      the player is most likely often toxic, positive means the player is most likely helpful and polite.
    </p>
    <p>
      Voting is done from the site's match summary view. A logged in player will have the options to up- or downvote
      players
      in replays they have participated in (except themselves). And the profile page will display a player's current
      reputation score.
    </p>
    <div class="text-center">
      <img src="/assets/Images/rep2.png" width="400" />
    </div>
    <p>
      An upvote will give the target player +1 or +10 rep (see below), and a downvote will give them -10 rep and would
      <strong>also give the voting player -5 rep</strong>.
    </p>
    <p>
      An upvote normally gives +10 rep to the target player, however if the target player is found frequently on the
      same
      team with the voter, it means they are probably friends, and then the vote only gives +1 rep. The principle behind
      this is that getting an upvote from a friend is trivial, whereas getting an upvote from a stranger has real value.
    </p>
    <p>
      Downvoting will only be possible if the player's reputation is above 100.
    </p>
    <!--            <p>
          <strong>Note: For the duration of the Beta, the rep requirement for downvoting has been set to 0. Beta will end 
              September 1st, 2020 at which point the downvote reputation requirement will be set again to 100.</strong>
      </p>-->

    <h2>Gaining and Losing Reputation</h2>
    <h3>Repeatable Adjustments</h3>
    <ul>
      <li>-10 - You got downvoted</li>
      <li>-5 - You downvoted someone</li>
      <li>+1 - A friend upvoted you</li>
      <li>+10 - A stranger upvoted you</li>
    </ul>
    <h3>One Time Rewards</h3>
    To be announced...
    <h2>Reputation Privileges and Rewards</h2>
    <ul>
      <li>100 - Ability to downvote
        <!--(not effective during the Beta)-->
      </li>
      <li>More to be announced...</li>
    </ul>
    <h2>Reputation Leaderboard</h2>
    <p>
      The site also includes a <a routerLink="/Sitewide/ReputationLeaderboard">reputation leaderboard</a> page that
      lists
      the
      top reputation players. These players are publicly recognized as good "citizens" of the community
    </p>

  </div>
</section>
