<form #frm="ngForm" [formGroup]="form1" (submit)="form1.valid && register()" autocomplete="on">
  <fieldset class="changePassword">
    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <label for="email">Email</label>
            </td>
            <td>
              <input type="text" formControlName="email" name="email" autocomplete="email">
              <ng-container *ngIf="frm.submitted && email.invalid">
                <span *ngIf="email.errors?.required" class="field-validation-error"> The email field is required.
                </span>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <label for="username">User Name</label>
            </td>
            <td>
              <input type="text" formControlName="username" name="username" autocomplete="username">
              <ng-container *ngIf="frm.submitted && username.invalid">
                <span *ngIf="username.errors?.required" class="field-validation-error"> The username field is
                  required. </span>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <label for="newPwd">New Password</label>
            </td>
            <td>
              <input type="password" class="passwordEntry" formControlName="newPwd" name="new-password"
                autocomplete="new-password">
              <ng-container *ngIf="frm.submitted && newPwd.invalid">
                <span *ngIf="newPwd.errors?.required" class="field-validation-error"> The new password is
                  required. </span>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <label for="confirmPwd">Confirm Password</label>
            </td>
            <td>
              <input type="password" class="passwordEntry" formControlName="confirmPwd" autocomplete="new-password">
              <ng-container *ngIf="frm.submitted">
                <span *ngIf="confirmPwd.errors?.required" class="field-validation-error"> The confirm password field is
                  required.</span>
                <span *ngIf="form1.errors?.pwdsDontMatch && !confirmPwd.errors?.required"
                  class="field-validation-error"> The password and confirmation password do not match. </span>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-checkbox formControlName="acceptTerms">
                I accept the <a routerLink="/TOS" target="_blank">terms of service</a> and <a routerLink="../Privacy"
                  target="_blank">privacy policy</a>.
              </mat-checkbox>
              <ng-container *ngIf="frm.submitted && acceptTerms.invalid">
                <span *ngIf="acceptTerms.errors?.required" class="field-validation-error">&nbsp;You must accept the
                  terms of service and privacy policy.</span>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" name="register" value="Create User" id="register"
                class="btn btn-border btn-ar btn-sm btn-primary">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</form>
