<section class="about">
  <p>The 'Team Draft Helper' tool is a quick and easy way to see how specific compositions have been performing. It is
    currently based off of the past 150 days of data.</p>
  <p>Currently this is plenty of data for most 2-4 hero compositions, though beyond that data is limited, and you will
    quickly find compositions with '?', meaning there isn't enough data to give a good estimate.</p>
  <p>Because this large span of time covers many balance patches, you will need to be aware of current hero balance
    while trying out compositions. I believe hero synergies and good team compositions don't change much with balance
    patches, so this is still a good tool for finding good hero combinations.</p>
  <p>The colored bar shown below each hero is a visual indicator for how many 'Games Played' that hero combination has.
  </p>
  <p>If you would like to help improve this, the best thing to do is upload all of your replays, and get your friends to
    as well! This benefits everyone by improving the amount of data available for this tool, as well as other areas of
    this site.</p>
  <br />

  <header>
    <h3>Frequently Asked Questions</h3>
  </header>
  <p><strong>Does selection order matter?</strong></p>
  <p>No - currently order is not taken into consideration.</p><br />
  <p><strong>Why do some heroes show '?' instead of win percent?</strong></p>
  <p>A '?' is shown when there is less than 150 games played for that composition, meaning there isn't enough data to
    consider.</p><br />
  <p><strong>Why are win rates different when you don't select any hero, compared to selecting one hero?</strong></p>
  <p>When you don't have any heroes selected, the win rates shown are from the precalculated sitewide statistics, which
    have additional filters such as removing Auto Select,
    <!-- Hero Level 5+,--> and no single hero mirror matchups. Once you select at least one hero, it no longer has those
    restrictions. I believe this is better overall for this kind of draft helper.<br />Excluding games where any hero on
    that team is less than level 5 or had queued as auto select would be too restrictive. Single hero mirror matchups
    aren't a big deal here, because each team's overall composition will be different.
  </p><br />
  <p><strong>Why does filtering by multiple leagues show more games played than the individual leagues added
      together?</strong></p>
  <p>If you filter by Master and Diamond, then pick two heroes in your draft, your composition will also include games
    where one hero is Master league, and one hero is Diamond league.</p><br />
  <p><strong>Why are there so many '?' when filtering by Map or League?</strong></p>
  <p>When selecting a specific map or league, you significantly reduce the amount of matches available to check for your
    selected hero composition. Hopefully this will be improved as HOTS Logs grows and more users upload their replays.
  </p><br />
</section>
