<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HotsLogsApi.dll" stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 19B47FD3-3D29-4ED2-B2A1-F13AA359D2DB-->
